<div class="container main-container">
  <h1>Lista Produtos</h1>

  <produto-count [produtos]="produtos"></produto-count>

  <div class="row text-center">
    <!-- Bind para componente pai passar dados para componente filho -->
    <produto-card-detalhe
      class="col-md-4"
      *ngFor="let produto of produtos"
      [produto]="produto"
      (status)="mudarStatus($event)"
    >
      <!--NgContent eh possivel adicionar um conteudo html no seu componente filho, select para espeficicar qual ngcontent para direcionar o html-->
      <div class="acabou">
        <h5>Ou va ate uma das nossas lojas</h5>
        <h5>Ou va ate uma das nossas lojas2</h5>
      </div>
      <h5 class="corre">Corre que vai acabar</h5>
    </produto-card-detalhe>
  </div>
</div>
